.container{
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;

    display: flex;
    align-items: stretch;
    justify-content: space-between;
}

.container > * {
    flex: 1;
}

@media screen and (max-width: 768px) {
    .container{
        flex-direction: column;
    }
}